<p id="notice"><%= notice %></p>

<h1>Harfiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @harfiles.each do |harfile| %>
      <tr>
        <td><%= harfile.name %></td>
        <td><%= link_to 'Show', harfile %></td>
        <td><%= link_to 'Edit', edit_harfile_path(harfile) %></td>
        <td><%= link_to 'Destroy', harfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Harfile', new_harfile_path %>
